# Add any directories, files, or patterns you don't want to be tracked by version control
.idea/
classes/
target/
bin/
build/
out/
target/
.settings
.classpath
.project
.idea
*.iml
*.class
*.jar
.gradle/
